<div class="row">
    <div class="large-8 columns">
        <h3 class="subheader">The Strategy Builder</h3>

        <!-- Grid Example -->
        <div class="row">
            <div class="large-12 columns">
                <div class="panel">
                    <p>This block could show a cool image related to stocks. This block could show a cool image
                        related to stocks. This block could show a cool image related to stocks.
                        This block could show a cool image related to stocks. This block could show a cool image related
                        to stocks. This block could show a cool image related to stocks.</p>


                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns">
                <p><a href="/user/register" class="large success button panel">Register</a></p>
            </div>
            <div class="large-6 columns">
                <p><a href="#" class="large success button panel">Tour</a></p>
            </div>
        </div>
        <div class="row">
            <div class="large-4 columns">
                <p><a href="#" class="secondary button">About Us</a></p>
            </div>
            <div class="large-4 columns">
                <p><a href="#" class="secondary button">Contact Us</a></p>
            </div>
            <div class="large-4 columns">
                <p><a href="#" class="secondary button">Comments</a></p>
            </div>
        </div>

    </div>

