    <div class="large-4 columns">
        <h4>Getting Started</h4>

        <p>We're excited that you've come to Stockini.com! Browse other people's strategies now or get started making
            your own!</p>

        <h4>Top performing strategies</h4>

        <p class="subheader">The are the top performing strategies:</p>
        <ul class="disc">
            <li><a href="/run/1">Dr Willis's trading formulae</a><br/>Everything you need to know
                about using the trading.
            </li>
            <li><a href="/run/2">Carl Luke's in-n-out strategy</a><br/>Follow all of our strategies!
            </li>
            <li><a href="/run/3">Joan Mica</a><br/>My strategy was passed on to me by my grandmother, and it still works
                today!
            </li>
        </ul>
    </div>
</div>