<div class="row">
    <div class="large-8 columns">
        <h3 class="subheader">Thanks</h3>

        <!-- Grid Example -->
        <div class="row">
            <div class="large-12 columns">
                <div class="panel">
                    <p>Thanks for Registering</p>
                    <p>Email address: {{ email }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-4 columns">
                <p><a href="#" class="secondary button">About Us</a></p>
            </div>
            <div class="large-4 columns">
                <p><a href="#" class="secondary button">Contact Us</a></p>
            </div>
            <div class="large-4 columns">
                <p><a href="#" class="secondary button">Comments</a></p>
            </div>
        </div>

    </div>

